.form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #e4e7ea;
}
  
.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f0f3f5;
    border: 1px solid #e4e7ea;
}
  
input:focus {
    transition: 0.2s linear;
}

button[name='ictihat'], button[name='mevzuat'] {
    background-color: transparent;
    border: none;
    outline: none;
}

.navbar .searchType.navbar-nav li {
    font-size: 1.2rem;
}

.border-success {
    border-width: 2px !important;
}