strong.doc-title {
    line-height: 2.5rem;
}

.editable {
    padding: 20px;
}

.index {
    height: 300px;
    overflow: scroll;
    background-color: rgb(248, 248, 248);
    padding: 10px;
}

.index .index-link{
    color: rgb(28, 61, 88);
    cursor: pointer;
}

.index .index-link:hover {
    text-decoration: underline;
}

.doc_navbar {
    font-size: 1.2rem;
    border-bottom: 1px solid #dee2e6
     
}

.index-button {
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    color: rgba(17, 38, 56, 0.7);
}


.index-button:focus, .index-button:hover {
    outline: none;
    color: rgba(17, 38, 56, 1);
}

.form-control.text_area_field {
    min-height: 180px;
}
