.top-navbar {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #bcc1c5
}

.navbar-brand {
    width: 90px;
    height: 50px;
}

.top-navbar .nav-item .nav-link.logout {
    background-color: transparent;
    border: none;
    outline: none;
}

.top-navbar .nav-item .nav-link {
    color: rgba(17, 38, 56, 0.7);
    font-weight: 500;
    transition: 0.1s linear;
}

.top-navbar .navbar-nav .nav-item .nav-link:hover {
    color: rgba(17, 38, 56, 1);
}

.navbar-toggler {
    font-size: medium;
}
